
        *{
            margin-top: 0px;
            margin-left: 0px;
        }
        #class1{
       display: flex;
       justify-content: center;
    }
    .inner{
        box-shadow: 10px;
        margin-top: 10px;
        background-color: white;
        height: 640px;
        width: 330px;
        border-radius: 1px; 
        border: 1px solid rgb(197, 211, 225);
    }
    .subclass1{
        padding-top: 40px;
        padding-left: 70px;
    }
    .subclass2{
        color:rgb(36, 115, 89);
        padding-left: 50px;
    }
    .subclass21{
        color:rgb(36, 115, 89);
        padding-left: 90px;
        margin-top: -15px;
    }
    .subclass3{
        margin-left: 40px;
        margin-top: 20px;
        border-radius: 5px;
    }
    .subclass4{
        margin-left: 45px;
        margin-top: 20px;
    }
    .subclass5{
        position: absolute;
        margin-left: 40px;
        margin-top: 20px;
    }
    input{
        border:1px solid rgb(235, 228, 228);
        width: 230px;
        height: 30px;
        padding-left: 20px;

    }
    .subclass6{
        position: absolute;
        margin-left: 40px;
        margin-top: 60px;
    }
    .subclass7{
        position: absolute;
        margin-left: 40px;
        margin-top: 100px;
    }
    .subclass8{
        position: absolute;
        margin-left: 40px;
        margin-top: 140px;
    }
    .subclass9{
        margin-top: 190px;
        margin-left: 45px;
        color:rgb(131, 122, 122);
    }
    .subclass10{
        margin-top: -10px;
        margin-left: 110px;
        color:rgb(147, 156, 244);
    }
    .subclass11{
        margin-top: px;
        margin-left: 45px;
        color:rgb(110, 103, 108);
    }
    .subclass12{
        margin-top: -10px;
        margin-left: 100px;
        color:rgb(110, 103, 108);
    }
    .subclass13{
        margin-top: 20px;
        margin-left: 50px;
     }
     .subclass14{
        background-color: white;
        height:35px;
        width: 250px;
        border: 1px solid rgb(197, 211, 225);
        margin-top:660px;
        margin-left: -330px;
        padding-top: 20px;
        padding-left: 80px;
      }
      .subclass15{
        margin-top: 730px;
        margin-left: -190px;
      }
      a:link{
        text-decoration: none;
     }
     .subclass16{
       position: absolute;
      margin-top:760px ;
      margin-left:-40px;
      height: 50px;
      width: 120px;
     }
     .subclass17{
      position: absolute;
      width: 130px;
      height: 50px;
      margin-top: 760px;
      margin-left: -180px;
     }
     
     