
      *{
         margin: 0px;
         padding: 0px;
      }
    #class{
       display: flex;
       flex-direction: row;
    }
    #inner{
      margin-left: 800px;
        box-shadow: 10px;
        margin-top: 50px;
        background-color: white;
        height: 400px;
        width: 300px;
        border-radius: 1px; 
        border: 1px solid rgb(197, 211, 225);
    }
    .subclass1{
        margin-top:00px;
        padding-top: 50px;
        padding-left: 70px;
        font-size: 40px;
        font-family:system-ui, 'Segoe UI' 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    input{
        border-radius: 5px;
        width: 200px;
    }
    .subclass2{
         margin-top: 0px;
        padding-top: 30px;
        padding-left: 50px;
        width: 150px;
    }
    .subclass3{
         margin-top: 0px;
        padding-top: 10px;
        padding-left: 50px;
     }
     .subclass4{
        margin-top: 20px;
        margin-left: 50px;
     }
     .subclass5{
        margin-top: 30px;
        margin-left: 50px;
     }
     .subclass6{
        margin-top: 30px;
        margin-left: 70px;
        color: rgb(34, 34, 82);
     }
     .subclass7{
        margin-top: 30px;
        margin-left: 100px;
     }
    
     .subclass8{
        background-color: white;
        height:35px;
        width: 258px;
        border: 1px solid rgb(197, 211, 225);
        margin-top:40px;
        margin-left: -3px;
        padding-top: 20px;
        padding-left: 45px;
      }
      .subclass81{
         margin-top: 10px;
         margin-left: 100px;
      }
     a:link{
        text-decoration: none;
     }
     button:hover{
        color: rgb(21, 21, 129);
     }
     .subclass9{
      margin-top: -530px;
      margin-left: -500px;
     }
     .subclass10{
      border-radius: 25px;
      position: absolute;
      margin-top: -610px;
      margin-left: -348px;
      height: 540px;
      width: 255px;
     }
     .subclass11{
       position: absolute;
      margin-top:-100px ;
      margin-left:150px;
      height: 50px;
      width: 120px;
     }
     .subclass12{
      position: absolute;
      width: 130px;
      height: 50px;
      margin-top: -100px;
      margin-left: 10px;
     }
     
   